# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
*.iml
*.apk
*.aab
google-services.json
key.properties
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# iOS
DerivedData/
*.ipa

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
